#aboutMe > p{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background-color: #36ADA3;
    position: absolute;
    padding: 20px;
    box-shadow: -10px 10px 15px 0px black;
    margin: 0;
    text-align: justify;
    color: #232F72;
    overflow-y: scroll;
    font-size: 25px;
}

#aboutMe > #head{
    position: absolute;
    top: 25px;
    left: 770px;
    font-size: 100px;
    border-left: solid;
    border-width: 20px;
    border-color: #36ADA3;
    background-color: #2F578A;
    color: #232F72;
}

#aboutMe > #head2{
    text-align: right;
    position: absolute;
    top: 300px;
    left: 100px;
    width: 600px;
    font-size: 100px;
    border-right: solid;
    border-width: 20px;
    border-color: #36ADA3;
    background-color: #2F578A;
    color: #232F72;
}

.shortIntro{ 
    top: 10px;
    left: 250px;
    border-radius: 10px 50px 10px 50px;
}

.skills-interest{
    top: 330px;
    left: 750px;
    border-radius: 10px 50px 10px 50px;

}



